{
    "extends": ["react-app"],
    "rules": {
        "no-console": "error",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "comma-dangle": ["error", "never"]
    }
}